@model Order

<h2>Hướng dẫn chuyển khoản</h2>
<p>Vui lòng chuyển @Model.TotalPrice VNĐ vào tài khoản sau:</p>

<ul>
    <li><b>Ngân hàng:</b> Vietcombank</li>
    <li><b>Số tài khoản:</b> 1028341345</li>
    <li><b>Chủ tài khoản:</b> Công ty TNHH Cửa Hàng Xe Máy Phát Tài Luôn</li>
    <li><b>Nội dung:</b> thanh toan don hang @Model.Id</li>
</ul>

<p>Vui lòng gửi ảnh xác nhận qua Zalo: 0357228623 để được nhận xe.</p>
<a href="/">Quay lại trang chủ</a>
