@model WebsiteCoffeeShop.Models.Category
<h2>Chi tiết danh mục</h2>

<div>
    <h4>ID: @Model.Id</h4>
    <h4>Tên danh mục: @Model.Name</h4>
</div>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
